* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face{
    font-family: SourceSansPro-Light;
    src:url(../css/fuentes/SourceSansPro-Light.ttf)
}
@font-face{
    font-family: SourceSansPro-Black;
    src: url(../css/fuentes/SourceSansPro-Black.ttf)
}
/* Header */ 
body {background:#FEFEFE;}
 
.menu_bar {
	display:none;
}
 
header {
	width: 100%;
}
 
header nav {
	background:#023859;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto;
	top:0;
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:#5893D4 ;
}
 
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#1F3C88 ;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}
 
	.menu_bar {
		z-index: 1000;
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#1F3C88 ;
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
 
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .children {
		display: none;
	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:20px;
	}
 
	header nav ul li .caret {
		float: right;
	}
}
/* Main */
body {
	background-image: url(../images/fondo4.jpg);

	background-attachment: fixed;
    font-family: SourceSansPro-Light;
	line-height:20px;
}

.container {
	width: 90%;
	max-width:900px;
	margin:auto;
}

article {
	background: rgba(88, 147, 212, .9);
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

article h2 {
	color:#fff;
}

article hr {
	background:#CEDDEF;
	height:5px;
	border:none;
}

article p {
	line-height: 25px;
}

article h2, article p, article hr {
	margin-bottom: 20px;
}
/* Footer */
footer {
	width: 100%;
	font-family: SourceSansPro-Light;
	bottom: 0;
	z-index: 1000;
}
.copy{
	padding: 25px;
	color: #fff;
	width: 100%;
	background: #070D59;
	border-top: 3px solid #fff;
}
.negrita{
	font-family: SourceSansPro-Black;
	color: #fff;
}
.slideshow img{
	height: 100%;
	width: 100%;
}
.overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}
.popup{
    background: #5893D4;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 1000px;
}

.popup .closepopup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
}

.popup .closepopup:hover{
    color: #000000;
}