/* || general styles */

html {
  font-family: 'cursive';
}

body {
  width: 800px;
  margin: 0 auto;
  background-image: url(../images/BnH.png);
  background-attachment: fixed;
}

h1, h2 {
  font-family:  cursive;
  color: red;
  font-weight: bold;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
  font-family: cursive;
}

section ul {
  margin-top: 0;
  font-family: cursive;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}