* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face{
    font-family: SourceSansPro-Light;
    src:url(../css/fuentes/SourceSansPro-Light.ttf)
}
@font-face{
    font-family: SourceSansPro-Black;
    src: url(../css/fuentes/SourceSansPro-Black.ttf)
}
/* Header */
header {
	width:100%;
	overflow: hidden;
	background:rgba(7,13,89,.8);
	margin-bottom:20px;
}

.wrapper {
	width:90%;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
}

header .logo {
	color:#f2f2f2;
	font-size:50px;
    font-family: SourceSansPro-Black;
	line-height:200px;
	float:left;
}

header nav {
	float:right;
	line-height:200px;
}
header nav ul{
    list-style: none;
}
header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover .children {
	display: block;
}

header nav a {
	display:inline-block;
	color:#fff;
	padding:10px 20px;
	text-decoration:none;
	line-height:normal;
	font-size:20px;
    font-family: SourceSansPro-Light;
	font-weight:bold;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

header nav a:hover {
	background:#5893D4;
	border-radius:50px;
}

.header2 {
    position: fixed;
    z-index: 1000;
    top: 0;
	height:100px;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);

}

.header2 .logo {
	line-height:100px;
	font-size:30px;
}

.header2 nav {
	line-height:100px;
}

.contenido p {
	margin-bottom:1em;
}

.contenido h3 {
	display:block;
	padding:20px;
	color:#fff;
	text-align:center;
	background:#F56F3A;
	margin-bottom:1em;
}

@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center;
		line-height:100px;
	}

	.header2 {
		height:auto;
	}

	.header2 .logo{
		line-height:50px;
	}

	.header2 nav {
		line-height:50px;
	}
}
/* Main */
body {
	background-image: url(../images/fondo4.jpg);
	/* background-repeat:no-repeat;
	background-size:cover; */

	background-attachment: fixed;
    font-family: SourceSansPro-Light;
	line-height:20px;
}

.container {
	width: 90%;
	max-width:900px;
	margin:auto;
}

article {
	background: rgba(88, 147, 212, .9);
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

article h2 {
	color:#fff;
}

article hr {
	background:#CEDDEF;
	height:5px;
	border:none;
}

article p {
	line-height: 25px;
}

article h2, article p, article hr {
	margin-bottom: 20px;
}
/* Footer */
footer {
	width: 100%;
	font-family: SourceSansPro-Light;
}
.copy{
	padding: 25px;
	color: #fff;
	width: 100%;
	background: rgba(7,13,89,.8);
	border-top: 3px solid #fff;
}
.negrita{
	font-family: SourceSansPro-Black;
	color: #fff;
}
.slideshow img{
	height: 100%;
	width: 100%;
}