@media screen and (max-width: 720px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center;
		line-height:100px;
	}

	.header2 {
		height:auto;
	}

	.header2 .logo{
		line-height:50px;
	}

	.header2 nav {
		line-height:50px;
	}
}